<header class="header" role="banner">
    <input type="hidden" class="cus-link" value="https://shop-eu-en.amd.com/">
    <div class="HeaderTop">
        <div class="container">
			<a href="https://www.amd.com/en/site-notifications/accessibility-statement.html" class="skip">AMD Website Accessibility Statement</a>
            <div class="HeaderMain">
                <div class="HeaderLeft">
                    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
                        <span class="mobileMenu-toggleIcon">Toggle menu</span>
                    </a>
                        <div class="header-logo header-logo--left">
                            <a href="https://www.amd.com/en" class="header-logo__link" target="_blank" data-header-logo-link>
        <img class="header-logo-image-unknown-size"
             src="https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/original/ezgif.com-gif-maker_1655102448__58298.original.png"
             alt="AMD.com"
             title="AMD.com" aria-label="AMD Logo">
</a>
                        </div>

                    <div class="PipeSign"></div>                               
                    
                    <a class="LocalTitleMn" href="/" aria-label="AMD Store">Store</a>
                </div>
                <div class="HeaderRight"> 
                    <nav class="navUser">
    <div class="cus-swicher">
            <ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--currencySelector has-dropdown"
           href="#"
           data-dropdown="currencySelection"
           aria-controls="currencySelection"
           aria-expanded="false"
        >
            EUR
            <i class="icon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li class="dropdown-menu-item">
                <a href="https://shop-eu-en.amd.com/?setCurrencyId=2"
                   data-currency-code="EUR"
                   data-cart-currency-switch-url="/cart/change-currency"
                   data-warning="Promotions and gift certificates that don&#x27;t apply to the new currency will be removed from your cart. Are you sure you want to continue?"
                >
                    <strong>Euro</strong>
                </a>
            </li>
            <li class="dropdown-menu-item">
                <a href="https://shop-eu-en.amd.com/?setCurrencyId=3"
                   data-currency-code="GBP"
                   data-cart-currency-switch-url="/cart/change-currency"
                   data-warning="Promotions and gift certificates that don&#x27;t apply to the new currency will be removed from your cart. Are you sure you want to continue?"
                >
                    British Pound
                </a>
            </li>
        </ul>
    </li>
</ul>
    </div>
    <ul class="navUser-section navUser-section--alt">
        <li class="navUser-item navUser-item--help">
            <a class="navUser-action storeHelp" href="/amdonlinestorefaq/" aria-label="Store Help">Store Help</a>
        </li>		
        <li class="navUser-item navUser-item--cart">
            <a class="navUser-action headerCart" id="headerCart"              
               href="/cart.php" aria-label="Cart"             
            >
                <span class="navUser-item-cartLabel">                   
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 576 512" role="img" aria-labelledby="carttitle">
					<title id="carttitle">Cart</title>
					<!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M24 0H0V48H24 76.1l60.3 316.5 3.7 19.5H160 488h24V336H488 179.9l-9.1-48H496L576 32H122l-2.4-12.5L115.9 0H96 24zM176 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm336-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/></svg>
                </span>
                <span class="countPill cart-quantity"></span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>

        <li class="navUser-item SearchBtn">
            <button class="navUser-action navUser-action--quickSearch"
               type="button"
               id="quick-search-expand"
               data-search="quickSearch"
               aria-controls="quickSearch"
               aria-label="Search"
            >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" aria-labelledby="searchtitle">
			<title id="searchtitle">Search</title>
			<!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L486.6 441.4 509.3 464 464 509.3l-22.6-22.6L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
            </button>
        </li>

        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare"
               href="/compare"
               data-compare-nav
               aria-label="Compare"
            >
                Compare <span class="countPill countPill--positive countPill--alt"></span>
            </a>
        </li>       
       
    </ul>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
        <div class="container">
    <form class="form" onsubmit="return false" data-url="/search.php" data-quick-search-form>
        <fieldset class="form-fieldset" aria-label="search">
	<legend name="search"aria-label="search">&nbsp;</legend>
            <div class="form-field">
                <label class="is-srOnly" for="nav-quick-search">Search</label>
                <input class="form-input"
                       data-search-quick
                       name="nav-quick-search"
                       id="nav-quick-search"
                       data-error-message="Search field cannot be empty."
                       placeholder="Search"
                       autocomplete="off"
                >
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults search_popup" data-bind="html: results"></section>
    <p role="status"
       aria-live="polite"
       class="aria-description--hidden"
       data-search-aria-message-predefined-text="product results for"
    ></p>
</div>
    </div>
    
</nav>
                </div>
            </div>
        </div>
    </div>
    <div class="headerBottom">
        <div class="container">
            <div class="navPages-container" id="menu" data-menu>
                <nav class="navPages">
    <ul class="navPages-list">
            <li class="navPages-item">
                    <a class="navPages-action MainMenu has-subMenu"
   href="https://shop-eu-en.amd.com/gaming-personal-computing/"
   data-collapsible="navPages-29"
>
    Gaming &amp; Personal Computing
    <span class="caret"></span>
</a>
<div class="navPage-subMenu" id="navPages-29" aria-hidden="true" tabindex="-1">
    <div class="navdiv">
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action"
                   href="https://shop-eu-en.amd.com/gaming-personal-computing/"
                   aria-label="All Gaming &amp; Personal Computing"
                >
                    All Gaming &amp; Personal Computing
                </a>
            </li>
           
                <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action"
                           href="https://shop-eu-en.amd.com/processors/"
                           aria-label="Processors"
                        >
                            Processors
                        </a>
                </li>
        </ul>
    </div>
</div>
            </li>
            <li class="navPages-item">
                    <a class="navPages-action MainMenu has-subMenu"
   href="https://shop-eu-en.amd.com/adaptive-embedded-computing/"
   data-collapsible="navPages-30"
>
    Adaptive &amp; Embedded Computing
    <span class="caret"></span>
</a>
<div class="navPage-subMenu" id="navPages-30" aria-hidden="true" tabindex="-1">
    <div class="navdiv">
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action"
                   href="https://shop-eu-en.amd.com/adaptive-embedded-computing/"
                   aria-label="All Adaptive &amp; Embedded Computing"
                >
                    All Adaptive &amp; Embedded Computing
                </a>
            </li>
           
                <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action"
                           href="https://shop-eu-en.amd.com/adaptive-embedded-computing/system-on-modules/"
                           aria-label="System-on-Modules (SOMs)"
                        >
                            System-on-Modules (SOMs)
                        </a>
                </li>
                <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action"
                           href="https://shop-eu-en.amd.com/adaptive-embedded-computing/data-center-accelerator-cards/"
                           aria-label="Data Center Accelerator Cards"
                        >
                            Data Center Accelerator Cards
                        </a>
                </li>
                <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action"
                           href="https://shop-eu-en.amd.com/adaptive-embedded-computing/soc-fpga-evaluation-kits/"
                           aria-label="SoC &amp; FPGA Evaluation Kits"
                        >
                            SoC &amp; FPGA Evaluation Kits
                        </a>
                </li>
        </ul>
    </div>
</div>
            </li>
            <li class="navPages-item mydiv">
                <a class="navPages-action MainMenu " href="/amd-promotions/">Promotions</a>
            </li>
    </ul>
    <ul class="navPages-list navPages-list--user">
            <li class="navPages-item">
                <a class="navPages-action"
                   href="/login.php"
                   aria-label="Sign in"
                >
                    Sign in
                </a>
                    OR
                    <a class="navPages-action"
                       href="/login.php?action&#x3D;create_account"
                       aria-label="Register"
                    >
                        Register
                    </a>
            </li>
    </ul>
</nav>
            </div>
        </div>
    </div>
</header>
<div data-content-region="header_bottom--global"></div>
<div data-content-region="header_bottom"></div>

<style>
    .cus-swicher {
    display: contents;
}
</style>