
<main
class="body default-page"
id="main-content"
role="main"
data-currency-code="EUR"
>
<div data-content-region="home_below_menu"></div>
<section
  class="heroCarousel"
  data-slick='{
  "arrows": true,
  "mobileFirst": true,
  "slidesToShow": 1,
  "slidesToScroll": 1,
  "autoplay": true,
  "autoplaySpeed": 10000,
  "slide": "[data-hero-slide]"
}'
>
  <div data-hero-slide="0">
    <div class="heroCarousel-slide heroCarousel-slide--first With-text">
      <a
        href="localhost:4200/processors/"
        class="heroCarousel-image-wrapper"
      >
        <img
          src="https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/1280w/carousel/35/2940601-ryzen-7-9000-series-9800X3D-banner.jpg?c=1"
          alt=""
          title=""
          data-sizes="auto"
          srcset="
            https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/80w/carousel/35/2940601-ryzen-7-9000-series-9800X3D-banner.jpg?c=1   80w,
            https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/160w/carousel/35/2940601-ryzen-7-9000-series-9800X3D-banner.jpg?c=1 160w,
            https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/320w/carousel/35/2940601-ryzen-7-9000-series-9800X3D-banner.jpg?c=1 320w,
            https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/640w/carousel/35/2940601-ryzen-7-9000-series-9800X3D-banner.jpg?c=1 640w,
            https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/888w/carousel/35/2940601-ryzen-7-9000-series-9800X3D-banner.jpg?c=1 888w
          "
          class="heroCarousel-image"
        />
      </a>
      <div class="heroCarousel-content static">
        <div class="heroCarouselContentBox">
          <p class="heroCarousel-title">AMD Ryzen&trade; 7 9800X3D</p>
          <p class="heroCarousel-description">
            The fastest gaming processor the world has ever seen, is now
            available.
          </p>
          <a
            href="localhost:4200/processors/"
            aria-label="Slide number 1, Get Yours"
            class="heroCarousel-action button button--primary button--large"
            >Get Yours</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<div data-content-region="home_below_carousel"></div>

<div class="container">
  <div class="main full">
    <div data-content-region="home_below_featured_products">
      <div data-layout-id="daf0cdfd-f6b2-4ad4-aac9-279047e76ce8">
        <div
          data-sub-layout-container="efc471c7-116b-40f5-8fec-fb501ac06f25"
          data-layout-name="Layout"
        >
          <style
            data-container-styling="efc471c7-116b-40f5-8fec-fb501ac06f25"
          >
            [data-sub-layout-container="efc471c7-116b-40f5-8fec-fb501ac06f25"] {
              box-sizing: border-box;
              display: flex;
              flex-wrap: wrap;
              z-index: 0;
              position: relative;
            }
            [data-sub-layout-container="efc471c7-116b-40f5-8fec-fb501ac06f25"]:after {
              background-position: center center;
              background-size: cover;
              z-index: auto;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          </style>
          <div data-sub-layout="c46c5812-bb1b-4bd9-a4ab-7ca10b983e5a">
            <style
              data-column-styling="c46c5812-bb1b-4bd9-a4ab-7ca10b983e5a"
            >
              [data-sub-layout="c46c5812-bb1b-4bd9-a4ab-7ca10b983e5a"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 100%;
                max-width: 100%;
                z-index: 0;
                justify-content: center;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="c46c5812-bb1b-4bd9-a4ab-7ca10b983e5a"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="c46c5812-bb1b-4bd9-a4ab-7ca10b983e5a"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
            <div
              data-widget-id="67643c3f-3da2-40f1-8218-8880100e045d"
              data-placement-id="cbd93af7-56bb-4126-8e4d-029b67b7a50b"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-simple-text-67643c3f-3da2-40f1-8218-8880100e045d {
                  padding-top: 20px;
                  padding-right: 0px;
                  padding-bottom: 20px;
                  padding-left: 0px;

                  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 0px;
                  margin-left: 0px;
                }

                .sd-simple-text-67643c3f-3da2-40f1-8218-8880100e045d * {
                  margin: 0;
                  padding: 0;

                  color: #333333;
                  font-family: Arial, sans-serif;
                  font-weight: 500;
                  font-size: 38px;
                  min-height: 38px;
                }

                .sd-simple-text-67643c3f-3da2-40f1-8218-8880100e045d {
                  text-align: center;
                }

                #sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d {
                  min-width: 14px;
                  line-height: 1.5;
                  display: inline-block;
                }

                #sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d[data-edit-mode="true"]:hover,
                #sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d[data-edit-mode="true"]:active,
                #sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d[data-edit-mode="true"]:focus {
                  outline: 1px dashed #3c64f4;
                }

                #sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d
                  strong,
                #sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d
                  strong
                  * {
                  font-weight: bold;
                }
              </style>

              <div
                class="sd-simple-text-67643c3f-3da2-40f1-8218-8880100e045d"
              >
                <div
                  id="sd-simple-text-editable-67643c3f-3da2-40f1-8218-8880100e045d"
                  data-edit-mode=""
                >
                  <p><strong>Gaming &amp; Personal Computing</strong></p>
                </div>
              </div>
            </div>
            <div
              data-widget-id="18f2ea3d-5bc7-49be-8d42-8ae16c3219e7"
              data-placement-id="097607bf-c6b5-49b2-86ca-fc39420f125a"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-spacer-18f2ea3d-5bc7-49be-8d42-8ae16c3219e7 {
                  height: 20px;
                }
              </style>

              <div
                class="sd-spacer-18f2ea3d-5bc7-49be-8d42-8ae16c3219e7"
              ></div>
            </div>
          </div>
        </div>
        <div
          data-sub-layout-container="4eac3e24-0d64-41f6-a44c-defaf1b42186"
          data-layout-name="Layout"
        >
          <style
            data-container-styling="4eac3e24-0d64-41f6-a44c-defaf1b42186"
          >
            [data-sub-layout-container="4eac3e24-0d64-41f6-a44c-defaf1b42186"] {
              box-sizing: border-box;
              display: flex;
              flex-wrap: wrap;
              z-index: 0;
              position: relative;
            }
            [data-sub-layout-container="4eac3e24-0d64-41f6-a44c-defaf1b42186"]:after {
              background-position: center center;
              background-size: cover;
              z-index: auto;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          </style>
          <div data-sub-layout="6d5500c1-adbb-4ca9-8739-81fb29741cf5">
            <style
              data-column-styling="6d5500c1-adbb-4ca9-8739-81fb29741cf5"
            >
              [data-sub-layout="6d5500c1-adbb-4ca9-8739-81fb29741cf5"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 16.666666666666664%;
                max-width: 16.666666666666664%;
                z-index: 0;
                justify-content: flex-start;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="6d5500c1-adbb-4ca9-8739-81fb29741cf5"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="6d5500c1-adbb-4ca9-8739-81fb29741cf5"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
          </div>
          <div data-sub-layout="cd3187f5-16eb-4ced-b102-f52aa3076f8b">
            <style
              data-column-styling="cd3187f5-16eb-4ced-b102-f52aa3076f8b"
            >
              [data-sub-layout="cd3187f5-16eb-4ced-b102-f52aa3076f8b"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 33.33333333333333%;
                max-width: 33.33333333333333%;
                z-index: 0;
                justify-content: flex-start;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="cd3187f5-16eb-4ced-b102-f52aa3076f8b"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="cd3187f5-16eb-4ced-b102-f52aa3076f8b"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
            <div
              data-widget-id="ee7f2fb4-4388-49db-9577-5cdfff04a44c"
              data-placement-id="e0153409-c6df-4d0a-acbb-409872ae4ce3"
              data-placement-status="ACTIVE"
            >
              <style>
                #sd-image-ee7f2fb4-4388-49db-9577-5cdfff04a44c {
                  display: flex;
                  align-items: center;
                  background: url("https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/original/image-manager/amd-ryzen-ai.jpg?t=1728933847")
                    no-repeat;
                  opacity: calc(100 / 100);

                  cursor: pointer;

                  background-size: contain;

                  height: auto;

                  background-position: center center;

                  padding-top: 0px;
                  padding-right: 0px;
                  padding-bottom: 0px;
                  padding-left: 0px;

                  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 20px;
                  margin-left: 0px;
                }

                #sd-image-ee7f2fb4-4388-49db-9577-5cdfff04a44c * {
                  margin: 0px;
                }

                #sd-image-ee7f2fb4-4388-49db-9577-5cdfff04a44c img {
                  width: auto;
                  opacity: 0;

                  height: auto;
                }

                @media only screen and (max-width: 700px) {
                  #sd-image-ee7f2fb4-4388-49db-9577-5cdfff04a44c {
                  }
                }
              </style>

              <div>
                <a
                  href="localhost:4200/processors/"
                  role="button"
                >
                  <div
                    id="sd-image-ee7f2fb4-4388-49db-9577-5cdfff04a44c"
                    data-edit-mode=""
                  >
                    <img
                      src="https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/original/image-manager/amd-ryzen-ai.jpg?t=1728933847"
                      alt="Ryzen™ Processors"
                    />
                  </div>
                </a>
              </div>
            </div>
            <div
              data-widget-id="56e2b7b3-c3ba-4203-a2ae-33e85662bb17"
              data-placement-id="8ee22e97-41db-4c22-af54-a763c9c3e6f7"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-simple-text-56e2b7b3-c3ba-4203-a2ae-33e85662bb17 {
                  padding-top: 0px;
                  padding-right: 0px;
                  padding-bottom: 0px;
                  padding-left: 0px;

                  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 0px;
                  margin-left: 0px;
                }

                .sd-simple-text-56e2b7b3-c3ba-4203-a2ae-33e85662bb17 * {
                  margin: 0;
                  padding: 0;

                  color: #333333;
                  font-family: Arial, sans-serif;
                  font-weight: 500;
                  font-size: 24px;
                  min-height: 24px;
                }

                .sd-simple-text-56e2b7b3-c3ba-4203-a2ae-33e85662bb17 {
                  text-align: center;
                }

                #sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17 {
                  min-width: 14px;
                  line-height: 1.5;
                  display: inline-block;
                }

                #sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17[data-edit-mode="true"]:hover,
                #sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17[data-edit-mode="true"]:active,
                #sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17[data-edit-mode="true"]:focus {
                  outline: 1px dashed #3c64f4;
                }

                #sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17
                  strong,
                #sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17
                  strong
                  * {
                  font-weight: bold;
                }
              </style>

              <div
                class="sd-simple-text-56e2b7b3-c3ba-4203-a2ae-33e85662bb17"
              >
                <div
                  id="sd-simple-text-editable-56e2b7b3-c3ba-4203-a2ae-33e85662bb17"
                  data-edit-mode=""
                >
                  <p><strong>Ryzen™ Processors</strong></p>
                </div>
              </div>
            </div>
            <div
              data-widget-id="926b4873-a8cc-42bd-9cdc-e93c9610261a"
              data-placement-id="dbce57ef-ba85-41a9-a384-2a93cc9a1dc4"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-spacer-926b4873-a8cc-42bd-9cdc-e93c9610261a {
                  height: 20px;
                }
              </style>

              <div
                class="sd-spacer-926b4873-a8cc-42bd-9cdc-e93c9610261a"
              ></div>
            </div>
          </div>
          <div data-sub-layout="aefdbea3-a9be-4cee-b42b-4b826aacd9e8">
            <style
              data-column-styling="aefdbea3-a9be-4cee-b42b-4b826aacd9e8"
            >
              [data-sub-layout="aefdbea3-a9be-4cee-b42b-4b826aacd9e8"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 33.33333333333333%;
                max-width: 33.33333333333333%;
                z-index: 0;
                justify-content: flex-start;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="aefdbea3-a9be-4cee-b42b-4b826aacd9e8"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="aefdbea3-a9be-4cee-b42b-4b826aacd9e8"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
            <div
              data-widget-id="40827b60-cf8b-47d1-bfc3-ccaecc9ee037"
              data-placement-id="e0777821-abcb-48a2-ae06-a8797a38f6ab"
              data-placement-status="ACTIVE"
            >
              <style>
                #sd-image-40827b60-cf8b-47d1-bfc3-ccaecc9ee037 {
                  display: flex;
                  align-items: center;
                  background: url("https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/original/image-manager/2192863-amd-smart-access-memory-with-ryzen-radeon.jpg?t=1708102229")
                    no-repeat;
                  opacity: calc(100 / 100);

                  cursor: pointer;

                  background-size: contain;

                  height: auto;

                  background-position: center center;

                  padding-top: 0px;
                  padding-right: 0px;
                  padding-bottom: 0px;
                  padding-left: 0px;

                  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 20px;
                  margin-left: 0px;
                }

                #sd-image-40827b60-cf8b-47d1-bfc3-ccaecc9ee037 * {
                  margin: 0px;
                }

                #sd-image-40827b60-cf8b-47d1-bfc3-ccaecc9ee037 img {
                  width: auto;
                  opacity: 0;

                  height: auto;
                }

                @media only screen and (max-width: 700px) {
                  #sd-image-40827b60-cf8b-47d1-bfc3-ccaecc9ee037 {
                  }
                }
              </style>

              <div>
                <a
                  href="localhost:4200/amd-promotions/"
                  role="button"
                >
                  <div
                    id="sd-image-40827b60-cf8b-47d1-bfc3-ccaecc9ee037"
                    data-edit-mode=""
                  >
                    <img
                      src="https://cdn11.bigcommerce.com/s-3wzspkde5p/images/stencil/original/image-manager/2192863-amd-smart-access-memory-with-ryzen-radeon.jpg?t=1708102229"
                      alt="Promotions"
                    />
                  </div>
                </a>
              </div>
            </div>
            <div
              data-widget-id="c53bdd40-96e9-4ac3-bd39-d16d2147bc48"
              data-placement-id="58007407-f84e-4582-97f0-211d72bc55b8"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-simple-text-c53bdd40-96e9-4ac3-bd39-d16d2147bc48 {
                  padding-top: 0px;
                  padding-right: 0px;
                  padding-bottom: 0px;
                  padding-left: 0px;

                  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 0px;
                  margin-left: 0px;
                }

                .sd-simple-text-c53bdd40-96e9-4ac3-bd39-d16d2147bc48 * {
                  margin: 0;
                  padding: 0;

                  color: #333333;
                  font-family: Arial, sans-serif;
                  font-weight: 500;
                  font-size: 24px;
                  min-height: 24px;
                }

                .sd-simple-text-c53bdd40-96e9-4ac3-bd39-d16d2147bc48 {
                  text-align: center;
                }

                #sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48 {
                  min-width: 14px;
                  line-height: 1.5;
                  display: inline-block;
                }

                #sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48[data-edit-mode="true"]:hover,
                #sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48[data-edit-mode="true"]:active,
                #sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48[data-edit-mode="true"]:focus {
                  outline: 1px dashed #3c64f4;
                }

                #sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48
                  strong,
                #sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48
                  strong
                  * {
                  font-weight: bold;
                }
              </style>

              <div
                class="sd-simple-text-c53bdd40-96e9-4ac3-bd39-d16d2147bc48"
              >
                <div
                  id="sd-simple-text-editable-c53bdd40-96e9-4ac3-bd39-d16d2147bc48"
                  data-edit-mode=""
                >
                  <p><strong>Promotions</strong></p>
                </div>
              </div>
            </div>
            <div
              data-widget-id="8ec19a71-37f6-49ea-9e00-b326d234735c"
              data-placement-id="c10be822-777b-4afe-9f33-c97a92a00a42"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-spacer-8ec19a71-37f6-49ea-9e00-b326d234735c {
                  height: 20px;
                }
              </style>

              <div
                class="sd-spacer-8ec19a71-37f6-49ea-9e00-b326d234735c"
              ></div>
            </div>
          </div>
          <div data-sub-layout="856cdfe7-ceaf-4f83-aefa-ae19ff4601fc">
            <style
              data-column-styling="856cdfe7-ceaf-4f83-aefa-ae19ff4601fc"
            >
              [data-sub-layout="856cdfe7-ceaf-4f83-aefa-ae19ff4601fc"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 16.666666666666664%;
                max-width: 16.666666666666664%;
                z-index: 0;
                justify-content: flex-start;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="856cdfe7-ceaf-4f83-aefa-ae19ff4601fc"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="856cdfe7-ceaf-4f83-aefa-ae19ff4601fc"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
          </div>
        </div>
        <div
          data-sub-layout-container="ed5d708a-cadc-404e-a1ac-e64e371888f0"
          data-layout-name="Layout"
        >
          <style
            data-container-styling="ed5d708a-cadc-404e-a1ac-e64e371888f0"
          >
            [data-sub-layout-container="ed5d708a-cadc-404e-a1ac-e64e371888f0"] {
              box-sizing: border-box;
              display: flex;
              flex-wrap: wrap;
              z-index: 0;
              position: relative;
            }
            [data-sub-layout-container="ed5d708a-cadc-404e-a1ac-e64e371888f0"]:after {
              background-position: center center;
              background-size: cover;
              z-index: auto;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          </style>
          <div data-sub-layout="b286df2e-b5b9-495f-9c37-0333325adf83">
            <style
              data-column-styling="b286df2e-b5b9-495f-9c37-0333325adf83"
            >
              [data-sub-layout="b286df2e-b5b9-495f-9c37-0333325adf83"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 100%;
                max-width: 100%;
                z-index: 0;
                justify-content: center;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="b286df2e-b5b9-495f-9c37-0333325adf83"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="b286df2e-b5b9-495f-9c37-0333325adf83"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
            <div
              data-widget-id="def8f405-3825-4703-9acf-fd82f6023b79"
              data-placement-id="7c8b822a-5c1b-4fe3-bdea-994f72117142"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-spacer-def8f405-3825-4703-9acf-fd82f6023b79 {
                  height: 30px;
                }
              </style>

              <div
                class="sd-spacer-def8f405-3825-4703-9acf-fd82f6023b79"
              ></div>
            </div>
          </div>
        </div>
        <div
          data-sub-layout-container="1043b17c-65d3-454a-8a58-f9584fb23a27"
          data-layout-name="Layout"
        >
          <style
            data-container-styling="1043b17c-65d3-454a-8a58-f9584fb23a27"
          >
            [data-sub-layout-container="1043b17c-65d3-454a-8a58-f9584fb23a27"] {
              box-sizing: border-box;
              display: flex;
              flex-wrap: wrap;
              z-index: 0;
              position: relative;
            }
            [data-sub-layout-container="1043b17c-65d3-454a-8a58-f9584fb23a27"]:after {
              background-position: center center;
              background-size: cover;
              z-index: auto;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          </style>
          <div data-sub-layout="9f569e4c-35b6-4969-a560-5257e0bc4be4">
            <style
              data-column-styling="9f569e4c-35b6-4969-a560-5257e0bc4be4"
            >
              [data-sub-layout="9f569e4c-35b6-4969-a560-5257e0bc4be4"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 100%;
                max-width: 100%;
                z-index: 0;
                justify-content: center;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="9f569e4c-35b6-4969-a560-5257e0bc4be4"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="9f569e4c-35b6-4969-a560-5257e0bc4be4"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
            <div
              data-widget-id="2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3"
              data-placement-id="3c0db32a-8716-41b3-b7ad-3b74a3fd209a"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-simple-text-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3 {
                  padding-top: 20px;
                  padding-right: 0px;
                  padding-bottom: 20px;
                  padding-left: 0px;

                  margin-top: 0px;
                  margin-right: 0px;
                  margin-bottom: 0px;
                  margin-left: 0px;
                }

                .sd-simple-text-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3 * {
                  margin: 0;
                  padding: 0;

                  color: #333333;
                  font-family: Arial, sans-serif;
                  font-weight: 500;
                  font-size: 38px;
                  min-height: 38px;
                }

                .sd-simple-text-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3 {
                  text-align: center;
                }

                #sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3 {
                  min-width: 14px;
                  line-height: 1.5;
                  display: inline-block;
                }

                #sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3[data-edit-mode="true"]:hover,
                #sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3[data-edit-mode="true"]:active,
                #sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3[data-edit-mode="true"]:focus {
                  outline: 1px dashed #3c64f4;
                }

                #sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3
                  strong,
                #sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3
                  strong
                  * {
                  font-weight: bold;
                }
              </style>

              <div
                class="sd-simple-text-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3"
              >
                <div
                  id="sd-simple-text-editable-2c65d34a-19f7-40b5-9b65-2bbcd83dd8d3"
                  data-edit-mode=""
                >
                  <p>
                    <strong>Adaptive &amp; Embedded Computing</strong>
                  </p>
                </div>
              </div>
            </div>
            <div
              data-widget-id="be2696f3-a78f-4178-a1a9-92e194f1b54d"
              data-placement-id="e1c94578-819d-4ce7-8200-16bfaac405c7"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-spacer-be2696f3-a78f-4178-a1a9-92e194f1b54d {
                  height: 20px;
                }
              </style>

              <div
                class="sd-spacer-be2696f3-a78f-4178-a1a9-92e194f1b54d"
              ></div>
            </div>
          </div>
        </div>
          <app-product-list></app-product-list>
        

        <div
          data-sub-layout-container="cb80af3b-aad0-4415-a628-a506b08a8e60"
          data-layout-name="Layout"
        >
          <style
            data-container-styling="cb80af3b-aad0-4415-a628-a506b08a8e60"
          >
            [data-sub-layout-container="cb80af3b-aad0-4415-a628-a506b08a8e60"] {
              box-sizing: border-box;
              display: flex;
              flex-wrap: wrap;
              z-index: 0;
              position: relative;
            }
            [data-sub-layout-container="cb80af3b-aad0-4415-a628-a506b08a8e60"]:after {
              background-position: center center;
              background-size: cover;
              z-index: auto;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          </style>
          <div data-sub-layout="a2a1c6d2-d39b-4508-a051-8dd9eb5802d6">
            <style
              data-column-styling="a2a1c6d2-d39b-4508-a051-8dd9eb5802d6"
            >
              [data-sub-layout="a2a1c6d2-d39b-4508-a051-8dd9eb5802d6"] {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-basis: 100%;
                max-width: 100%;
                z-index: 0;
                justify-content: center;
                padding-right: 10.5px;
                padding-left: 10.5px;
                position: relative;
              }
              [data-sub-layout="a2a1c6d2-d39b-4508-a051-8dd9eb5802d6"]:after {
                background-position: center center;
                background-size: cover;
                z-index: auto;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              @media only screen and (max-width: 700px) {
                [data-sub-layout="a2a1c6d2-d39b-4508-a051-8dd9eb5802d6"] {
                  flex-basis: 100%;
                  max-width: 100%;
                }
              }
            </style>
            <div
              data-widget-id="41a4aa80-e0fc-4bf3-bde4-8a4ae883b76b"
              data-placement-id="9b04661c-419b-40f2-8318-0fa732538205"
              data-placement-status="ACTIVE"
            >
              <style>
                .sd-spacer-41a4aa80-e0fc-4bf3-bde4-8a4ae883b76b {
                  height: 30px;
                }
              </style>

              <div
                class="sd-spacer-41a4aa80-e0fc-4bf3-bde4-8a4ae883b76b"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-content-region="home_below_top_products"></div>

    <div data-content-region="home_below_new_products"></div>
  </div>
</div>
<div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
  <button class="modal-close" type="button" title="Close">
    <span class="aria-description--hidden">Close</span>
    <span aria-hidden="true">&#215;</span>
  </button>
  <div class="modal-content"></div>
  <div class="loadingOverlay"></div>
</div>
<div
  id="alert-modal"
  class="modal modal--alert modal--small"
  data-reveal
  data-prevent-quick-search-close
>
  <div class="swal2-icon swal2-error swal2-icon-show">
    <span class="swal2-x-mark"
      ><span class="swal2-x-mark-line-left"></span
      ><span class="swal2-x-mark-line-right"></span
    ></span>
  </div>

  <div class="modal-content"></div>

  <div class="button-container">
    <button
      type="button"
      class="confirm button"
      data-reveal-close
      cart_product_category=""
      cart-data-product-name=""
      cart-data-product-id=""
    >
      OK
    </button>
  </div>
</div>
</main>